# Build output
dist
dist-ssr
*.local

# Astro
.astro/dev.json
.astro/settings.json

# Playwright
playwright-report
test-results

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log

# Vercel
.vercel
